*{
    margin: 0;
    padding: 0;
}

body{
    
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black !important;
}

nav{
      display: flex;
      justify-content:space-around;
      align-items: center;
      height: 50px;
    
      

}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
     list-style: none;
     margin: 0px 23px;    
}
nav ul li a{
    text-decoration: none;    
}
nav ul li a:hover{
     color:rgb(71, 222, 41) ;
     font-size: 1rem; 
}
.left{
  font-size: 1.5rem;
  color: rgb(71, 222, 41);
  
}

.firstsection{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 23px 0;
}
.firstsection > div{
  width: 30%;
}
.leftsction{
       font-size: 3rem;
       margin: 30px ;
}
.rightsection img{
    width: 110%;

}
.green{
    color: rgb(71, 222, 41);
}

#element{
    color:rgb(71, 222, 41) ;

}
   