
*{
    margin: 0;
    padding: 0;
}

body{
    
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* nav start */
nav{
      display: flex;
      justify-content:space-around;
      align-items: center;
      height: 50px;
      
    
      

}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
     list-style: none;
     margin: 0px 23px;    
}
nav ul li a{
    text-decoration: none;   
    color: black; 
}
nav ul li a:hover{
     color:rgb(71, 222, 41) ;
     font-size: 1rem; 
}
/* nav end */
/* img and animation start */
.left{
  font-size: 1.5rem;
  color: rgb(71, 222, 41);
  
}

.firstsection{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 23px 0;
}
.firstsection > div{
  width: 30%;
}
.leftsction{
       font-size: 3rem;
       margin: 30px ;
}
.rightsection img{
    width: 110%;

}
.green{
    color: rgb(71, 222, 41);
}

#element{
    color:rgb(71, 222, 41) ;
      /* img and animation end*/
}
 /* first section & about button start*/
.button{
  font-size: 1rem;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 40px;
  background-color:rgb(71, 222, 41) ;
  color: white;
  text-decoration: none;
}
.button:hover{
    background-color: black;
    transition: 0.1s;
}
/* first section & about button end*/
/* about start */
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5em;
    }
 .about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width:100%;
    border-radius: 8px;
 }
 .about-text h2{
    font-size: 40px;
 }
 .about-text h2 span{
    color:rgb(71, 222, 41);
 }
 .about-text h4{
    font-size:29px;
    font-weight:600;
    line-height:1.7;
    margin: 15px 0 20px;
 }
 .about-text p{
    font-size: 20px ;
    line-height: 1.4;
    margin-bottom:2rem;
 }
  /* about end */
  /* services start */
 .services{
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
    
 }  
 .sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
 }
 .sub-title span{
    color:rgb(71, 222, 41);
 }

.container{
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}       
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, tranform 0.5s;
    box-shadow: 1px 1px 20px rgb(71, 222, 41) ;
}
.services-list div i{
 font-size: 50px;
 margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom:15px;
}
.services-list div a{
    text-decoration: none;
   
    font-size:12px;
    margin-top: 20px;
   display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 20px;
    background-color:  rgb(71, 222, 41);
    border-radius: 40px;
    font-size: 16px;
    color: white;
}
.read:hover{
    background-color: black;
    transition: 0.1s;
}
.services-list div:hover{
    transform:translateY(-10px) ;
}
 /* services end */
 /* progress line start */
 h1{
    text-align: center;
    font-size: 45px;
 }
h1 span{
    color:rgb(71, 222, 41);
}
h3{
    margin: 5px;
    
}
.skill{
    width: 500px;
    margin: 70px auto;
    padding: 20px;
    list-style: none;
    box-shadow: 0 14px 28px  rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background:rgb(0, 0, 0) ;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-decoration: none;
   
    
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(71, 222, 41)0%,rgb(240, 240, 239)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}
.javascript{
    width: 60%;
    animation: javascript 3s;
}
.laravel{
    width: 45%;
    animation:laravel  3s;
}
.graphics{
    width: 96%;
    animation: graphics 3s;
}
 
@keyframes html{
    0%{
      width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
      width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript{
    0%{
      width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes laravel{
    0%{
      width: 0%;
    }
    100%{
        width: 45%;
    }
}
@keyframes graphics{
    0%{
      width: 0%;
    }
    100%{
        width: 96%;
    }
}
/* progress line end */
/* progress circle start */

